.btn {
  border-style: none;
  font-size: 18px;
  padding: 1rem;
}

.btn__primary {
  background: gray;
}

.btn__primary:hover {
  color: white;
  background: lightgray;
}

.btn__blue {
  background: lightgray;
}

.btn__error {
  background: orange;
}