$main_color:rgba(150,150,150,0.8);

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $main_color;
}

.burger {
    display: none;
}

#toggle {
    display: none;
}

header .logo {
    float: left;
    display: block;
    color: black;
    font-size: 17px;
    text-align: center;
    padding: 12px 16px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: visibility 0s, opacity 0.5s linear;
}

header a {

    float: right;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
}

header a:hover {
    background-color: $main_color;
    color: rgb(255, 0, 0);
    border-bottom: 1px solid red;
}

.active {
    background-color: transparent;
    color: blue;
}


@media screen and(max-width:780px) {
    ul{
        display: none;
    }
    .burger {
        cursor: pointer;
        color: white;
        display: block;
        float: right;
        margin: 12px 14px;
    }
    .navigation li a{
        display: block;
        //растягивает на всю ширину экрана 
        width: 100vw;
        text-align: center;
    }
    
    header a:not(:first-child) {
        display: none;
    }
    header a.icon {
        float: right;
        display: block;
    }
    #toggle:checked~ul {
        display: block;
        opacity: 1;
    }
}